body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

#app {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  color: #4CAF50;
}

#game {
  border: 2px solid #333;
  border-radius: 10px;
  background: white;
  padding: 20px;
}

.card {
  width: 100px;
  height: 150px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.card-value {
  font-size: 2em;
  color: #333;
}

#turno-indicador {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.turno-jugador {
  color: #4CAF50; /* Verde */
}

.turno-maquina {
  color: #F44336; /* Rojo */
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

#cartas-jugador,
#cartas-maquina {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card-small {
  width: 50px;
  height: 70px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #333;
}

.group {
  display: flex;
  gap: 3px;
}
